.App {
  text-align: center;
}

.App_btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.App_btn button{
  padding: 5px;
  font-size: 20px;
}

.App_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


